  <br />
  <br />
  <br />

  <div class="row">

      <div class="col-md-3 text-center">
          <div ng-repeat="color in product.Colors | filter: color.Default">

              <div class="row" ng-repeat="image in color.ImagesBase64 ">
                  <img ng-src="{{ image.Base64 }}" ng-click="selectImage(image)"
                    class="img-responsive" />
                  <br />
              </div>

          </div>
      </div>

      <div class="col-md-4">
          <img ng-src="{{ defaultImage.Base64 }}" class="img-responsive" style="width: 100%;"/>
      </div>

      <div class="col-md-5">
          <div class="row">
              <div class="col-md-12">
                  <h3 style="font-weight: bold;">
                      {{ product.Description | uppercase }}
                  </h3>
                  <h5 class="mm-code">Cod. {{ product.ExternalCode }} </h5>
              </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h2 class="mm-price">$ {{ product.Price }},00</h2>
            </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                  <h5>COLOR</h5>
                  <div class="btn-group bootstrap-select fit-width">
                      <div class="btn-group" id="Colores">

                          <button ng-repeat="color in product.Colors" type="button" class="btn btn-default btn-lg" title="{{ color.Description }}">
                              <i class='glyphicon glyphicon-tint' style='color: {{ color.Style }};'></i>
                          </button>

                      </div>

                  </div>
              </div>
            </div>

            <br/>

            <div class="row">
              <div class="col-md-12">
                  <h5>TALLE</h5>
                  <div class="btn-group bootstrap-select fit-width">
                      <div class="btn-group" id="Talles" ng-model="product">

                          <button type="button" class="btn btn-default btn-lg" ng-repeat="size in product.Sizes">
                            {{ size.Description }}
                          </button>

                      </div>
                  </div>
              </div>
          </div>

          <br />

          <div class="row">
              <div class="col-md-12">
                  <h5>CANTIDAD</h5>
                  <div class="btn-group bootstrap-select fit-width">
                      <div class="btn-group" id="Cantidad">
                          <button type="button" class="btn btn-default btn-lg">1</button>
                          <button type="button" class="btn btn-default btn-lg">2</button>
                      </div>
                  </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                  <h6>?Necesitás otro color o talle?</h6>
                  <button type="button" class="btn btn-default btn-lg mm-button">TRAEMELO!</button>
                </div>
            </div>
      </div>
  </div>

  <br />
  <br />
  <br />

  <div class="row">
      <div class="col-md-12">
          <div class="row">
              <div class="col-md-4 text-center">___________________________________________________</div>
              <div class="col-md-4 mm-title text-center">COMBINALO</div>
              <div class="col-md-4 text-center">___________________________________________________</div>
          </div>
      </div>
  </div>

  <slick slides-to-show="2" slides-to-scroll="1" >
    <div ng-repeat="related in relatedProduct">
      <h3><a class="slider" ng-click="select(related.Id)"> {{ related.Description }} </a></h3>
    </div>
  </slick>
